@model DonChamol.Models.Proveedor

@{
    ViewData["Title"] = "Crear Nuevo Proveedor";
    ViewData["ShowFooter"] = false;
}

<h2>Crear Nuevo Proveedor</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="nombre" class="control-label">Nombre</label>
        <input asp-for="nombre" class="form-control" required />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="apellido">Apellido</label>
        <input asp-for="apellido" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="direccion" class="control-label">Dirección</label>
        <input asp-for="direccion" class="form-control" required />
        <span asp-validation-for="direccion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="telefono" class="control-label">Teléfono</label>
        <input asp-for="telefono" class="form-control" required />
        <span asp-validation-for="telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="correo" class="control-label">Correo</label>
        <input asp-for="correo" class="form-control" required />
        <span asp-validation-for="correo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="estado" class="control-label">Estado</label>
        <select asp-for="estado" class="form-control" required>
            <option value="">Seleccione un estado</option>
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
        <span asp-validation-for="estado" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
        <a href="@Url.Action("GetAll", "Proveedor")" class="btn btn-secondary">Cancelar</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

