@model DonChamol.Models.MenuItems

<form asp-action="EditMenuItems" method="post">
    <input asp-for="id_Menu" type="hidden" />

    <div class="form-group mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" required />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Descripcion" class="form-label">Dirección</label>
        <input asp-for="Descripcion" class="form-control" required />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Precio"  class="form-label">Dirección</label>
        <input asp-for="Precio" type="number" step="0.01" class="form-control" required />
        <span asp-validation-for="Precio"  class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Categoria" class="form-label">Categoria</label>
        <select asp-for="id_Categoria" asp-items="@(new SelectList(ViewBag.Categorias, "id_Categoria", "Nombre", Model.id_Categoria))">
     
        </select>
        <span asp-validation-for="id_Categoria" class="text-danger"></span>
    </div>

    <button type="submit">Guardar Cambios</button>
</form>
