@model DonChamol.Models.Meseros

@{
    ViewData["Title"] = "Editar Mesero";
    ViewData["ShowFooter"] = false;
}
@if (!ViewData.ModelState.IsValid)
{
    <p class="text-danger">Hay errores de validación en el formulario.</p>
}

<h2>Editar Mesero</h2>

<form asp-action="UpdateMesero" method="post">
    <input type="hidden" asp-for="id_Mesero" />

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span> <!-- Mensaje de validación para Nombre -->
    </div>

    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span> <!-- Mensaje de validación para Apellido -->
    </div>

    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span> <!-- Mensaje de validación para Teléfono -->
    </div>

    <div class="form-group">
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span> <!-- Mensaje de validación para Dirección -->
    </div>

    <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span> <!-- Mensaje de validación para Dirección -->
    </div>



    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="@Url.Action("GetAllMeseros", "Meseros")" class="btn btn-secondary">Cancelar</a>
</form>

